body{
   background-image: url("imagenes/fondo.webp");
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   display: flex;
   align-items: center;
   flex-direction: column;
   align-content: center;
}

.descripcion{
   background-color: white;
   color: black;
   opacity: 0.7;
   font-size: 20px;
}

.container{
   color: black;
   background-color: yellow;
   opacity: 0.5;
   font-size: 15px;
}